module.exports = {
        mastodon: {
                pollInterval: 60,
                feeds: [
                        {
                                url: 'https://jambo.social/@walialu.atom'
                                pollInterval: 30
                        },
                        'https://jambo.social/@laesterpuppe.atom',
                        'https://jambo.social/@noerchen.atom',
                ],
        },
        twitter: {
                max_tweet_length: 220,
                consumer_key: '',
                consumer_secret: '',
                access_token_key: '',
                access_token_secret: '',
        },
};
